body {
    margin: 0px;
    padding: 85px 10px 0px 10px;
    background-color: rgb(195, 195, 195);
}

.center-loading-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}