.center-login-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
}

.center-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-charted-logo {
    width: 50%;
}

.bottom-right-div {
    position: absolute;
    bottom: -8%;
    right: 1.5%;
}